<launch>
    

    <arg name="visualize" default="true" />
    <arg name="markerSize" value="0.025" />
    <arg name="markerId" value="1" />

    <arg name="desired_pose_topic"    default="/aruco_single/pose"/>
    
    <node pkg="tf" type="static_transform_publisher" name="camera_blue_transform_publisher" args="0.0375 0.10 0.293 1 0 0 0 world camera_blue_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="camera_green_transform_publisher" args="-0.0375 0.10 0.290 1 0 0 0 world camera_green_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="pen_tip_transform_publisher" args="0.0 0.032732 -0.082252 0 0 0 1 camera_green_marker_link pen_tip 100" />

    <node pkg="aruco_ros" type="single" name="aruco_camera_blue">
        <remap from="/camera_info" to="/camera_blue/camera_info" />
        <remap from="/image" to="/camera_blue/image" />
        <param name="image_is_rectified" value="False"/>
        <param name="marker_size"        value="$(arg markerSize)"/>
        <param name="marker_id"          value="$(arg markerId)"/>
        <param name="reference_frame"    value="world"/>
        <param name="camera_frame"       value="camera_blue_link"/>
        <param name="marker_frame"       value="camera_blue_marker_link" />
        <param name="corner_refinement"  value="HARRIS" />
    </node>

    <node pkg="aruco_ros" type="single" name="aruco_camera_green">
        <remap from="/camera_info" to="/camera_green/camera_info" />
        <remap from="/image" to="/camera_green/image" />
        <param name="image_is_rectified" value="False"/>
        <param name="marker_size"        value="$(arg markerSize)"/>
        <param name="marker_id"          value="$(arg markerId)"/>
        <param name="reference_frame"    value="world"/>   <!-- frame in which the marker pose will be refered -->
        <param name="camera_frame"       value="camera_green_link"/>
        <param name="marker_frame"       value="camera_green_marker_link" />
        <param name="corner_refinement"  value="HARRIS" />
    </node>

    <!-- <node pkg="scara_drawer_ros" type="pose_fused_publisher.py" name="pose_fused_publisher" output="screen"/> -->

    <!-- Launch the Pen Tracking Controller -->
    <!-- <node pkg="scara_drawer_ros" type="pen_tracking_controller.py" name="pen_tracking_controller" output="screen">
        <param name="control_rate" value="20.0" /> 
        <param name="max_velocity" value="0.2" /> 
        <param name="goal_tolerance" value="0.0005" /> 
        <param name="desired_pose_topic" value="$(arg desired_pose_topic)" />
    </node> -->

  
    <!-- <node pkg="rosbag" type="play" name="pose_player" args="$(find scara_drawer_ros)/data/test_pose_player.bag /tool/kinematics_pose:=/tool/desired_pose"/> -->

    <!-- <group if="$(arg visualize)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find scara_drawer_ros)/rviz/pen_tracker.rviz" />
    </group> -->

</launch>